*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    background-color: #faf9f9;
    /* color: #9c1515; */
    /* justify-content: center; */
    display: flex;
    width: 100%;
    height: 80px;
    position: fixed;
    overflow: hidden;
    top: 0;
    z-index: 1000;
}

nav:hover{
    background-color: rgb(55, 137, 214);
}

nav img{
    margin-left: 80px;
    height: 40px;
    width: 40px;
    text-decoration: none;

    margin-top: 20px;
    border-radius: 120px;
}
nav h3{
    margin-left: 15px;
    margin-top: 25px;
    font-size: 25px;
    cursor: pointer;
    text-decoration: none;
    justify-content: center;
    color: rgb(134, 224, 142);

}


.btn-signin , .btn-signup {
    float: right;
    align-items: end;
    padding: 14px 20px;
    margin: 18px 20px; 
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
.btn-signin{

    margin-left: 1000px;
}

/* 

body of the page 

*/
/* 
#container-body{
    display: flex;
    background-color: aqua;
    height: 600px;
    align-content: center;
    justify-content: center;
}

#container-body .sec{
    background-color: rgb(153, 94, 94);
    align-items: center;
    margin: 10px;    
    width: 100%;
} */
