* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    margin: 0;
padding: 0;
overflow-x: hidden;
}

.navbar {
    /* text-align: center; */
    /* background-color: aqua; */
    background-image: url(h1.jpg);
    color: yellow;
    background-size: cover;
    font-size: 25px;
}

.navbar h1{
    position: relative;
    top:20px;
    left: 40px;
}

.navbar .login .btn{
        text-align: center;
        font-size: 20px;
        font-weight: 700;
        background-color: white;

        border-radius: 20px;
        position: relative;
        left: 1200px;
        top: -30px;
    }

.navbar .login .btn-login{
    height: 35px;
    width: 90px;
}

.navbar .login .btn-register{
    height: 35px;
    width: 120px;
    
}

.navbar .login button:hover{
    background-color: brown;
    color: white;

}

.links {
    /* background-color: black; */
    align-items: center;
    display: flex;
    /* border: 3px solid black; */
    justify-content: center;
    transform: translate();

}

.links ul li {
    display: inline-block;
    margin: 20px;
    align-items: center;
}

.links ul li a {
    margin: 20px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    border: 1px solid black;
    padding: 10px 20px; 
    border-radius: 10px;
    transition: all 0.3s ease;
}

.links ul li a:hover {
    color: rgb(255, 255, 255);
    transition: 0.3s ease;
    background-color: rgb(89, 89, 155);
    /* border-color: brown; */
    border: 3px solid brown;
}

.main{
    margin-top: 20px;
    background-color: aqua;
    height: 500px;
    
}

.main-side{
    position: relative;
    left:25%;
    top:40px;
    align-items: center;
    background-color: yellow;
    height: 400px;
    width: 50%;

}

.main .main-side{
    position: relative;
    /* top: 20%; */
    /* left: 20px; */
    display: flex;
    justify-content: center;

}

.main .main-side .in {
    position: relative;
    left: 30px;

}

.main .main-side .in2{
    position: relative;
    left: -75px;
    top: 40px;
}


.main .main-side .out {
    position: relative;
    left: 5px;

}

.main .main-side .out2{
    position: relative;
    left: -95px;
    top: 40px;
}

.btn-search button{
    height: 40px;
    width: 300px;
    position: relative;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 15px;
}
.btn-search{
    position: relative;
    bottom: 20px;
    display: flex;
    justify-content: center;
}

.btn-search button:hover{
    background-color: black;
    color: white;
    border-color: aqua;
}

/*



*/

.submain{
    /* background-color: yellow; */
    height: 533px;
    width: 100%;
    
}

.submain .f-heading{
    display: flex;
    justify-content: center;
}

.submain .f-heading p{
    margin-top: 30px;
    font-weight: 700;
    font-size: 30px;

}
.submain .featued{
    
    display: flex;
}
.submain .featued img{
    
    margin-top: 50px;
    border: 2px solid black;
    border-color: black;
    height: 300px;
    width: 300px;
    object-fit: cover;
    

}   
.submain .featued .data{
    flex: 1;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;   

}
.submain .featued .data p{
        margin: 0;
    display: flex;
    flex-direction: column;
}

/*

*/

.thismonth{
    /* background-color: yellow; */
    height: 533px;
    width: 100%;
    
}


.thismonth .f-heading{
    display: flex;
    justify-content: center;
}


.thismonth .f-heading p{
    margin-top: 30px;
    font-weight: 700;
    font-size: 30px;

}

.thismonth .featued{
    
    display: flex;
}

.thismonth .featued img{
    
    margin-top: 30px;
    border: 2px solid black;
    border-color: black;
    height: 250px;
    width: 250px;
    /* object-fit: cover; */
    

}   

.thismonth .featued .data{
    flex: 1;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;   

}


/*


*/

.hotpicked{
    height: 600px;
    display: flex;
    flex-direction: row;
    background-color: aqua;
}
.hotpicked .picked-inner{
        height: 200px;
        width: 200px;    
        /* background-color: black; */
        display: flex;
        flex-direction: row;

    }

.hotpicked .picked-inner img{
    height: 450px;
    width: 700px;
    margin: 10px;
    justify-content: space-between;

}

.hotpicked .picked-inner p{
    flex-direction: row;
    margin-top: 20px;
}
